*{
    padding: 0;
    margin: 0;
}

#startButton {
    background-color: #969696;
    border: none;
    color: white;
    padding: 25px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 25px;
    left: 45%;
    top: 45%;
    position: absolute;
    cursor: pointer;
    border-radius: 10px;
}

body {
    background: url(https://images.pexels.com/photos/356079/pexels-photo-356079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: 100%;
    font-family: 'Itim', cursive;
}

#title{
    color: #ffffffc1;
    font-size: 76px;
    text-align: center;
    background: #55555598;
}